<!-- header.html -->
<th:block th:fragment="header">
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/board/list}">BOARD</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div th:if="${msg}" class="alert alert-info" th:text="${msg}"></div>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link"
						href="">회원가입</a></li>
					<li class="nav-item"><a class="nav-link"
						href="">로그인</a></li>
					<li class="nav-item"><a class="nav-link"
						href=")">로그아웃</a></li>
				</ul>

			</div>
		</div>
	</nav>
</th:block>
